.btn
	cursor pointer
	padding 10px 100px
	color def-text-color
	text-decoration none
	font 1.875rem bold, Arial,sans-serif
	font-size responsive 0.875rem 1.875rem
	@extend .txt-transform
	border 2px solid def-text-color
	background rgba(255, 255, 255, .5)
	transition all .5s
	&:hover
		background rgba(255, 255, 255, .1)
	&__feedback
		font 1.5em regular,Arial,sans-serif
		padding 10px 50px