.form
	display flex
	flex-flow column
	padding 0 20px 20px 20px
	max-width 500px
	&__footer
		display flex
		flex-flow row wrap
		justify-content space-between
		align-items center
.input
	width 100%
	margin-bottom 20px
	padding 15px
	border 2px solid #fff
	background-color transparent
	color #fff
	font 1.5em regular,Arial,sans-serif
.phone
	color def-text-color
	font 1.5em regular,Arial,sans-serif
.notify
	display none
	position fixed
	width 50vw
	top 50%
	left calc(50% - 25vw)
	padding 20px
	text-align center
	color #fff
	font 2rem bold,sans-serif
	border-radius 10px
.feedback
	&__success
		background-color #4DCD49
		@extends .notify
	&__error
		background-color #F42525
		@extends .notify