.title
	display inline-block
	color title-color
	margin 20px auto
	padding-bottom 20px
	font 1.875rem regular,Arial,sans-serif
	text-align center
	@extend .txt-transform
	border-bottom 2px solid brand-color
	&_white
		color def-text-color
		border-color @color
	&_feedback
		color def-text-color
		border none