@font-face {
  font-family: 'SourceSansProBold';
  src: url("../fonts/SourceSansProBold.ttf");
}
@font-face {
  font-family: 'SourceSansProRegular';
  src: url("../fonts/SourceSansProRegular.ttf");
}
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  cursor: pointer;
}
.txt-transform,
.advantages__left-title,
.btn,
.hgroup__title,
.hgroup__subtitle,
.list__title,
.nav__link,
.service__title,
.title {
  text-transform: uppercase;
}
.advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.advantages__left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 320px;
  background: transparent url("../img/city.png") 0 0 no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.advantages__left-title {
  margin: auto 0;
  font: 36px 'SourceSansProRegular', Arial, sans-serif;
  font: 2.25rem 'SourceSansProRegular', Arial, sans-serif;
  text-align: center;
  color: #fff;
  padding: 20px 0;
  background: rgba(199,65,65,0.7);
}
.advantages__right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 320px;
  background-color: #3b5362;
  padding: 20px;
}
.advantages__right-title {
  font: 30px 'SourceSansProBold', Arial, sans-serif;
  font: 1.875rem 'SourceSansProBold', Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 20px 0;
}
.btn {
  cursor: pointer;
  padding: 10px 100px;
  color: #fff;
  text-decoration: none;
  font: 30px 'SourceSansProBold', Arial, sans-serif;
  font: 1.875rem 'SourceSansProBold', Arial, sans-serif;
  font-size: calc(0.875rem + 1 * ((100vw - 26.25rem) / 53.75));
  font-size: calc(0.875rem + 1 * ((100vw - 26.25rem) / 53.75));
  border: 2px solid #fff;
  background: rgba(255,255,255,0.5);
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}
@media screen and (min-width: 1280px) {
  .btn {
    font-size: 1.875rem;
  }
}
@media screen and (max-width: 420px) {
  .btn {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .btn {
    font-size: 1.875rem;
  }
}
@media screen and (max-width: 420px) {
  .btn {
    font-size: 0.875rem;
  }
}
.btn:hover {
  background: rgba(255,255,255,0.1);
}
.btn__feedback {
  font: 1.5em 'SourceSansProRegular', Arial, sans-serif;
  padding: 10px 50px;
}
.footer {
  background-color: #3b5362;
  padding: 20px;
}
.copyright {
  color: #fff;
  font: 16px 'SourceSansProRegular', Arial, sans-serif;
  font: 1rem 'SourceSansProRegular', Arial, sans-serif;
}
.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 0 20px 20px 20px;
  max-width: 500px;
}
.form__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.input {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font: 1.5em 'SourceSansProRegular', Arial, sans-serif;
}
.phone {
  color: #fff;
  font: 1.5em 'SourceSansProRegular', Arial, sans-serif;
}
.hgroup {
  margin: auto auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.hgroup__title {
  font: 48px 'SourceSansProBold', Arial, sans-serif;
  font: 3rem 'SourceSansProBold', Arial, sans-serif;
  font-size: calc(1.5rem + 1.5 * ((100vw - 26.25rem) / 53.75));
  font-size: calc(1.5rem + 1.5 * ((100vw - 26.25rem) / 53.75));
  margin-bottom: 20px;
  color: #fff;
}
@media screen and (min-width: 1280px) {
  .hgroup__title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 420px) {
  .hgroup__title {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .hgroup__title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 420px) {
  .hgroup__title {
    font-size: 1.5rem;
  }
}
.hgroup__title:first-letter {
  color: #c74141;
}
.hgroup__subtitle {
  font: 36px 'SourceSansProRegular', Arial, sans-serif;
  font: 2.25rem 'SourceSansProRegular', Arial, sans-serif;
  font-size: calc(1.2rem + 1.05 * ((100vw - 26.25rem) / 53.75));
  font-size: calc(1.2rem + 1.05 * ((100vw - 26.25rem) / 53.75));
  margin-bottom: 20px;
  color: #fff;
}
@media screen and (min-width: 1280px) {
  .hgroup__subtitle {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 420px) {
  .hgroup__subtitle {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .hgroup__subtitle {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 420px) {
  .hgroup__subtitle {
    font-size: 1.2rem;
  }
}
.list {
  list-style-image: url("../img/minus.png");
  padding-left: 40px;
  margin: 40px 0;
}
.list__item {
  color: #fff;
  margin: 20px 0;
}
.list__title {
  font: 1em 'SourceSansProRegular', Arial, sans-serif;
  font-size: calc(1.25rem + 0.25 * ((100vw - 26.25rem) / 53.75));
  font-size: calc(1.25rem + 0.25 * ((100vw - 26.25rem) / 53.75));
  color: #fff;
  padding-top: 20px;
}
@media screen and (min-width: 1280px) {
  .list__title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 420px) {
  .list__title {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .list__title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 420px) {
  .list__title {
    font-size: 1.25rem;
  }
}
.list__text {
  font: 1em 'SourceSansProRegular', Arial, sans-serif;
  font-size: calc(1rem + 0.25 * ((100vw - 26.25rem) / 53.75));
  font-size: calc(1rem + 0.25 * ((100vw - 26.25rem) / 53.75));
}
@media screen and (min-width: 1280px) {
  .list__text {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 420px) {
  .list__text {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .list__text {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 420px) {
  .list__text {
    font-size: 1rem;
  }
}
.nav {
  margin: auto auto 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}
@media screen and (max-width: 520px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}
.nav__link {
  display: block;
  margin: 0 10px;
  font: 18px 'SourceSansProRegular', Arial, sans-serif;
  font: 1.125rem 'SourceSansProRegular', Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}
.nav__link:hover {
  color: #c74141;
}
#portfolio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
.portfolio {
  max-width: 1000px;
  width: 100%;
  margin: 20px auto;
}
.tabs__controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tabs__controls-item {
  margin: 20px;
  color: #3b5362;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  font: 20px 'SourceSansProRegular', Arial, sans-serif;
  font: 1.25rem 'SourceSansProRegular', Arial, sans-serif;
}
.tabs__controls-item:hover,
.tabs__controls-item.active {
  color: #c74141;
}
.tabs__controls-item:first-child {
  margin-left: 0;
}
.tabs__list {
  padding: 40px;
}
.tabs__item {
  list-style-type: none;
  display: none;
}
.tabs__item img {
  height: 200px;
  border: 2px solid #3b5362;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}
.tabs__item img:hover {
  border: 2px solid #c74141;
}
.tabs__item.active {
  -webkit-animation: fadeIn 0.5s ease-in 0s 1 forwards;
          animation: fadeIn 0.5s ease-in 0s 1 forwards;
  display: block;
}
.bx-wrapper {
  box-shadow: none;
}
.bx-pager-item {
  visibility: hidden;
}
.bx-prev {
  left: -42px !important;
}
.bx-next {
  right: -42px !important;
}
@-webkit-keyframes fadeIn {
  from {
    display: block;
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    display: block;
  }
}
@keyframes fadeIn {
  from {
    display: block;
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    display: block;
  }
}
.reviews {
  max-width: 1000px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.review {
  margin: 50px;
  background: #f0f;
  width: 100px;
  height: 100px;
  border: 2px solid #3b5362;
  border-radius: 50px;
  position: relative;
}
.review__wrapper {
  min-width: 200px;
  min-height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.review__tooltip {
  background: #3b5362;
  padding: 20px;
}
.review__title {
  font: 30px Arial, sans-serif;
  font: 1.875rem Arial, sans-serif;
  font-size: calc(0.875rem + 1 * ((100vw - 26.25rem) / 53.75));
  font-size: calc(0.875rem + 1 * ((100vw - 26.25rem) / 53.75));
  color: #fff;
}
@media screen and (min-width: 1280px) {
  .review__title {
    font-size: 1.875rem;
  }
}
@media screen and (max-width: 420px) {
  .review__title {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1280px) {
  .review__title {
    font-size: 1.875rem;
  }
}
@media screen and (max-width: 420px) {
  .review__title {
    font-size: 0.875rem;
  }
}
.review__text {
  font: 24px Arial, sans-serif;
  font: 1.5rem Arial, sans-serif;
  font-size: calc(1rem + 0.5 * ((100vw - 26.25rem) / 53.75));
  font-size: calc(1rem + 0.5 * ((100vw - 26.25rem) / 53.75));
  color: #fff;
}
@media screen and (min-width: 1280px) {
  .review__text {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 420px) {
  .review__text {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .review__text {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 420px) {
  .review__text {
    font-size: 1rem;
  }
}
.review:hover {
  border-color: #c74141;
}
.review > .review__tooltip {
  width: 48.5vw;
  height: 200px;
  padding: 10px 20px;
  position: relative;
  top: -214px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in;
          transition: all 0.4s ease-in;
  color: #000;
  box-shadow: 1px 1px 10px #000;
}
@media screen and (max-width: 786px) {
  .review > .review__tooltip {
    width: 200px;
    height: 200px;
  }
}
.review:hover > .review__tooltip {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  display: inline-block;
  margin-left: 0px;
  position: relative;
  top: -214px;
}
.review_tooltip-2 {
  left: -200px;
}
.review_tooltip-2 .review__triangle {
  left: 220px;
}
.review_tooltip-3 {
  left: -400px;
}
.review_tooltip-3 .review__triangle {
  left: 420px;
}
.review_tooltip-4 {
  left: -600px;
}
.review_tooltip-4 .review__triangle {
  left: 620px;
}
.review__triangle {
  width: 15px;
  height: 15px;
  margin-left: 21px;
  margin-top: 182px;
  z-index: -1;
  display: block;
  position: absolute;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  box-shadow: inset 0 1px 0 #3b5362;
  border-top: 1px solid #3b5362;
  border-right: 1px solid #3b5362;
  background-color: #3b5362;
}
.services {
  display: flex;
  flex-flow: row wrap;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 20px 0;
}
.service {
  -webkit-flex-basis: 240px;
      -ms-flex-preferred-size: 240px;
          flex-basis: 240px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: auto;
  margin-bottom: 40px;
}
.service__icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50px;
  border: 2px solid #3b5362;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}
.service__icon:hover {
  border-color: #c74141;
}
.service__icon_site {
  background: transparent url("../img/service_icons.png") 13px 13px no-repeat;
}
.service__icon_design {
  background: transparent url("../img/service_icons.png") 13px -62px no-repeat;
}
.service__icon_logos {
  background: transparent url("../img/service_icons.png") 13px -140px no-repeat;
}
.service__icon_banners {
  background: transparent url("../img/service_icons.png") 13px -222px no-repeat;
}
.service__icon_business-card {
  background: transparent url("../img/service_icons.png") 13px -305px no-repeat;
}
.service__icon_maintain {
  background: transparent url("../img/service_icons.png") 14px -385px no-repeat;
}
.service__icon_host {
  background: transparent url("../img/service_icons.png") 14px -465px no-repeat;
}
.service__icon_drink {
  background: transparent url("../img/service_icons.png") 14px -543px no-repeat;
}
.service__title {
  font: 18px 'SourceSansProRegular', Arial, sans-serif;
  font: 1.125rem 'SourceSansProRegular', Arial, sans-serif;
  color: #000;
  text-align: center;
  margin: 20px 0;
}
.title {
  display: inline-block;
  color: #000;
  margin: 20px auto;
  padding-bottom: 20px;
  font: 30px 'SourceSansProRegular', Arial, sans-serif;
  font: 1.875rem 'SourceSansProRegular', Arial, sans-serif;
  text-align: center;
  border-bottom: 2px solid #3b5362;
}
.title_white {
  color: #fff;
  border-color: #fff;
}
.title_feedback {
  color: #fff;
  border: none;
}
.intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: transparent url("../img/bg.jpg") 0 0 no-repeat;
  background-size: 100% 100%;
}
#services,
#about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#about {
  background: transparent url("../img/people.png") 0 0 no-repeat;
  background-size: cover;
}
.about__text {
  max-width: 1000px;
  margin: auto auto 60px auto;
  padding: 0 20px;
  color: #fff;
  font: 16px 'SourceSansProRegular', Arial, sans-serif;
  font: 1rem 'SourceSansProRegular', Arial, sans-serif;
  font-size: calc(1rem + 0.5 * ((100vw - 26.25rem) / 53.75));
  font-size: calc(1rem + 0.5 * ((100vw - 26.25rem) / 53.75));
  text-align: justify;
}
@media screen and (min-width: 1280px) {
  .about__text {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 420px) {
  .about__text {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__text {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 420px) {
  .about__text {
    font-size: 1rem;
  }
}
#reviews {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80vh;
  overflow: hidden;
}
#feedback {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3b5362;
}
