#about
	h3.title.title_white.wow.flipInX О нас
	p.about__text.wow.fadeInUp(data-wow-delay='1s') Мы молодая команда, сплоченная команда, которая сделает ваш проект в лучших традициях! Для наших клиентов мы создаем продукт, который помогает их бизнесу расти. Все наши разработчики проффесионалы своего дела.Сроки для нас не просто пустые слова, все делается вовремя и, главное, качественно!