#advantages.advantages
	.advantages__left
		h3.advantages__left-title.wow.slideInLeft(data-wow-delay='0.5s') У нас лучше
	.advantages__right
		.advantages__right-title.wow.slideInRight(data-wow-delay='0.5s')  Нашы приемущества
		ul.list.wow.slideInRight(data-wow-delay='0.5s') 
			li.list__item
				h4.list__title Стильно
				p.list__text У нас работают лучшие дизайнеры с большим опытом, которые выразят ваши желание самым стильным образом!
			li.list__item
				h4.list__title Качествено
				p.list__text В своих работах мы используем последние версии программного обеспечения, что позитивно влияет на качество работ!
			li.list__item
				h4.list__title Доступно
				p.list__text К каждому проекту мы относимся индивидуально, поэтому у нас нет завышеных изначально установленных цен на продукцию!
			li.list__item
				h4.list__title Пунктуально
				p.list__text Мы с уважением относимся к вашему времени и гарантируем своервременное выполнение всех поставленных задач!