#portfolio
	.title.wow.flipInX Портфолио
	.portfolio
		.tabs
			ul.tabs__controls
				li.tabs__controls-item.active Сайты
				li.tabs__controls-item Баннеры
				li.tabs__controls-item Визитки
			ul.tabs__list
				include slider.jade
				li.tabs__item
					h2 Tab2
					p: span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id tempore corporis, nobis aperiam. Ullam, voluptates numquam dicta odit. Consequatur culpa, quo natus tenetur rem quae distinctio? Mollitia repellendus natus minima?
				li.tabs__item
					h2 Tab3
					p: span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ipsum ad fugit consequatur odit aliquid voluptates minus similique repellat debitis dolores minima aliquam eius omnis, porro atque consequuntur sed inventore.