mixin review(title, text, n)
	.review__wrapper
		.review
			.review__tooltip(class=n)
				b.review__triangle
				.review__title= title
				.review__text= text
#reviews
	.title.wow.flipInX(data-wow-delay='0.5s') Отзывы о нас
	.reviews.wow.slideInUp(data-wow-delay='1s')
		+review('Никита','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, cupiditate.', 'review_tooltip-1')
		+review('Вера','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, cupiditate.', 'review_tooltip-2')
		+review('Вася','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, cupiditate.', 'review_tooltip-3')
		+review('Анджела','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, cupiditate.', 'review_tooltip-4')


