li.tabs__item.active.my-gallery(itemtype='http://schema.org/ImageGallery', itemscope="")
	ul.bxslider
		figure(itemprop='associatedMedia', itemscope="", itemtype='http://schema.org/ImageObject')
			a(href="img/slider1/pic1.jpg", itemprop='contentUrl', data-size='1024x1024')
				img(src='img/slider1/pic1.jpg', itemprop='thumbnail' title='pic1', alt='image description')
		figure(itemprop='associatedMedia', itemscope="", itemtype='http://schema.org/ImageObject')
			a(href="img/slider1/pic2.jpg", itemprop='contentUrl', data-size='1024x1024')
				img(src='img/slider1/pic2.jpg', itemprop='thumbnail' title='pic2', alt='image description')
		figure(itemprop='associatedMedia', itemscope="", itemtype='http://schema.org/ImageObject')
			a(href="img/slider1/pic3.jpg", itemprop='contentUrl', data-size='1024x1024')
				img(src='img/slider1/pic3.jpg', itemprop='thumbnail' title='pic3', alt='image description')
		figure(itemprop='associatedMedia', itemscope="", itemtype='http://schema.org/ImageObject')
			a(href="img/slider1/pic4.jpg", itemprop='contentUrl', data-size='1024x1024')
				img(src='img/slider1/pic4.jpg', itemprop='thumbnail' title='pic4', alt='image description')
		figure(itemprop='associatedMedia', itemscope="", itemtype='http://schema.org/ImageObject')
			a(href="img/slider1/pic4.jpg", itemprop='contentUrl', data-size='1024x1024')
				img(src='img/slider1/pic4.jpg', itemprop='thumbnail' title='pic4', alt='image description')
		figure(itemprop='associatedMedia', itemscope="", itemtype='http://schema.org/ImageObject')
			a(href="img/slider1/pic5.jpg", itemprop='contentUrl', data-size='1024x1024')
				img(src='img/slider1/pic5.jpg', itemprop='thumbnail' title='pic5', alt='image description')
		figure(itemprop='associatedMedia', itemscope="", itemtype='http://schema.org/ImageObject')
			a(href="img/slider1/pic6.jpg", itemprop='contentUrl', data-size='1024x1024')
				img(src='img/slider1/pic6.jpg', itemprop='thumbnail' title='pic6', alt='image description')
		figure(itemprop='associatedMedia', itemscope="", itemtype='http://schema.org/ImageObject')
			a(href="img/slider1/pic7.jpg", itemprop='contentUrl', data-size='1024x1024')
				img(src='img/slider1/pic7.jpg', itemprop='thumbnail' title='pic7', alt='image description')
.pswp(tabindex='-1', role='dialog', aria-hidden='true')
	.pswp__bg
	.pswp__scroll-wrap
		.pswp__container
			.pswp__item
			.pswp__item
			.pswp__item
		.pswp__ui.pswp__ui--hidden
			.pswp__top-bar
				.pswp__counter
				button.pswp__button.pswp__button--close(title='Close(Esc)')
				button.pswp__button.pswp__button--share(title='Share')
				button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
				button.pswp__button.pswp__button--zoom(title='Zomm in/out')
				.pswp__preloader
					.pswp__preloader__icn
						.pswp__preloader__cut
							.pswp__preloader__donut
			.pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
				.pswp__share-tooltip
			button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
			button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
			.pswp__caption
				.pswp__caption__center