@font-face
	font-family 'SourceSansProBold'
	src url(../fonts/SourceSansProBold.ttf)
bold = 'SourceSansProBold'
@font-face
	font-family 'SourceSansProRegular'
	src url(../fonts/SourceSansProRegular.ttf)
regular = 'SourceSansProRegular'